
<div class='container'>
  <br>
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <img src="assets/img/cemetery-101.jpg" class="img-fluid" alt="Random second slide">

    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/img/cemetery-121.jpg" class="img-fluid" alt="Random second slide">
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/img/cemetery-305.jpg" class="img-fluid" alt="Random second slide">

    </ng-template>
  </ngb-carousel>
<br>
</div>