
<br>
  <div class="container">
    <b>Galeria</b>
    <div class="row">
      <div class="col-md-12">
        <div class="picture-element">
          <!-- <br><img src="https://sadeczanin.info/sites/default/files/gallery/_DSC0423_0.jpg" class="img-fluid" alt="cmentarz"> -->
          <!-- <br><img src="https://i.ibb.co/qxL779q/IMG-20190929-135647.jpg" class="img-fluid" alt="cmentarz"> -->
          <img src="assets/img/cemetery-101.jpg" class="img-fluid" alt="cmentarz">
        </div>
      </div>
      <br>
      <div class="col-md-12">
        <div class="picture-element">
          <!-- <br><img src="https://sadeczanin.info/sites/default/files/gallery/_DSC0423_0.jpg" class="img-fluid" alt="cmentarz"> -->
          <!-- <br><img src="https://i.ibb.co/qxL779q/IMG-20190929-135647.jpg" class="img-fluid" alt="cmentarz"> -->
          <img src="assets/img/cemetery-121.jpg" class="img-fluid" alt="cmentarz">
        </div>
      </div>
      <div class="col-md-12">
        <div class="picture-element">
          <!-- <br><img src="https://sadeczanin.info/sites/default/files/gallery/_DSC0423_0.jpg" class="img-fluid" alt="cmentarz"> -->
          <!-- <br><img src="https://i.ibb.co/qxL779q/IMG-20190929-135647.jpg" class="img-fluid" alt="cmentarz"> -->
          <img src="assets/img/cemetery-305.jpg" class="img-fluid" alt="cmentarz">
        </div>
      </div>
      
    </div>
  </div>
<br>