.container {
    text-align: center;
}

.carousel-control-prev:hover{
    background: rgba(0, 0, 0, 0.7);
}
.carousel-control-next:hover{
    background: rgba(0, 0, 0, 0.7);
}
 
.picture-element
{
    display: inline-block;
    padding: 20px; 


}