#main-info-box {
  margin-top: 1em;
  padding: 2rem;
  border: 2px solid red;
  animation-name: fade-in;
  animation-duration: 1s;
}

#law-info-box {
  animation-name: fade-in;
  animation-duration: 1s;
}

.title {
  margin-top: 1em;
}