<br>
<div *ngIf='anniversaryPeopleCount >= 0'>
    <div class='calendarCard'>
      <img src="https://img.icons8.com/emoji/48/000000/candle-emoji.png"/><br><br>
      <ng-container *ngIf='anniversaryPeopleCount > 0'>
      <h5><b>Dzisiejsze rocznice śmierci:</b></h5> <br>
        <div *ngFor="let person of anniversaryPeople">
          <h6 style="font-family: Calibri" scope="row"><b>{{ person.name }} {{ person.surname }}</b><br>
              {{ person.anniversaryCounter }}. rocznica <br></h6>
          </div>
      </ng-container>

      <ng-container *ngIf='anniversaryPeopleCount === 0'>
        <br>Brak rocznic w dniu dzisiejszym.<br>
        Módlmy się zatem za wszystkich zmarłych.<br>
      </ng-container>

        <br>
        <i>
          Wieczny odpoczynek racz im dać, Panie,<br>
          a światłość wiekuista niechaj im świeci.<br>
          Niech odpoczywają w pokoju.<br>
          Amen.<br>
        </i>
    </div><br><br>

    <ng-container *ngIf="!candleLighted">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)='lightCandle()'>Zapal znicz</button>
    </ng-container>

    <ng-container *ngIf="candleLighted">
      <img src="https://66.media.tumblr.com/36353c142e4369af32acd81bfac457fc/tumblr_mvmozlfDzP1rhncyso1_400.gifv" alt="Smiley face" height="80" width="142">
    </ng-container>
  </div>

<div *ngIf='anniversaryPeopleCount === -1'>
    <br><div class="loader"></div>
    <br><div>Sprawdzanie dzisiejszych rocznic ...</div>
</div>




