.anniversary-container {
  text-align: center;
  animation-name: fade-in;
  animation-duration: 2s;
  margin-top: 1em;
  margin-bottom: 1em;
}

.anniversary-personal-data-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(194, 191, 191, 0.6);
  padding: 10px;
  cursor: pointer;
}

.anniversary-personal-data-item:nth-child(2n) {
  background-color: rgba(175, 167, 167, 0.5);
}

.anniversary-personal-data-item:hover {
  background-color: rgb(47, 101, 216);
  color: white;
}

.anniversary-personal-data-item:nth-child(2n):hover {
  background-color: rgb(47, 101, 216);
  color: white;
}

.person-info {
  text-align: left;
}

.anniversary-item {
  background-color: rgba(175, 167, 167, 0.5);
  border: 1px solid rgb(189, 187, 187);
  margin-bottom: 2em;
}

.tomb-icon {
  margin-left: 3em;
  margin-right: 1em;
}
