.anniversary-container {
  text-align: center;
  animation-name: fade-in;
  animation-duration: 2s;
  margin-top: 1em;
  margin-bottom: 1em;
}

.anniversary-item {
  display: grid;
  grid-template-columns: 25% 45% ;
  justify-items: center;
  justify-content: center;
  background-color: rgb(194, 191, 191, 0.6);
  padding: 10px;
  cursor: pointer;
  margin-bottom: 1em;
}

.anniversary-item:nth-child(2n) {
  background-color: rgba(175, 167, 167, 0.5);
}

.anniversary-item:hover {
  background-color: rgb(47, 101, 216);
  color: white;
}

.anniversary-item:nth-child(2n):hover {
  background-color: rgb(47, 101, 216);
  color: white;
}

.person-info {
  text-align: left;
}
