<br>
<div *ngIf='anniversaryPeopleCount >= 0'>
    <div class='calendarCard'>
      <img src="https://img.icons8.com/emoji/48/000000/candle-emoji.png"/><br><br>
      <ng-container *ngIf='anniversaryPeopleCount > 0'>
      <h5><b>Dzisiejsze rocznice śmierci:</b></h5> <br>
        <div *ngFor="let person of anniversaryPeople">
          <h6 style="font-family: Calibri" scope="row"><b>{{ person.name }} {{ person.surname }}</b><br>
              {{ person.anniversaryCounter }}. rocznica <br></h6>
          </div>
      </ng-container>

      <ng-container *ngIf='anniversaryPeopleCount === 0'>
        <br>Brak rocznic w dniu dzisiejszym.<br>
        Módlmy się zatem za wszystkich zmarłych.<br>
      </ng-container>

        <br>
        <i>
          Wieczny odpoczynek racz im dać, Panie,<br>
          a światłość wiekuista niechaj im świeci.<br>
          Niech odpoczywają w pokoju.<br>
          Amen.<br>
        </i>
    </div>
</div>

<div *ngIf='anniversaryPeopleCount === -1'>
    <br><div class="loader"></div>
    <br><div>Sprawdzanie dzisiejszych rocznic ...</div>
</div>




