.container {
    color: white;
    text-align: center;
}

.footer {
    /* position: static; */
    background-color: rgb(32, 29, 32);
    padding: 0.5em;
    /* bottom: 0; */
    width: 100%;
    margin-top: 2em;
}

.email-address {
    margin-top: 0.5em;
    margin-bottom: 0.1em;
}

.main-link {
    color: rgb(194, 194, 10);
}