.container {
    color: white;
    text-align: center;
}

.footer {
    position: static;
    background-color: rgb(32, 29, 32);
    padding: 1em;
    bottom: 0;
    width: 100%;
    margin-top: 2em;
}