<div class="footer">
    <div class="container">
        Odsłon strony: 
        <a href="https://www.freecounterstat.com" title="web counter"><img src="https://counter10.wheredoyoucomefrom.ovh/private/freecounterstat.php?c=3wjx3ttqre7w6737fftka5h26sr9f5a5" border="0" title="web counter" alt="web counter"></a>
        <br>
        <b>{{currentYear}}</b>
        <h5>kamil.leczycki.ns@gmail.com</h5>
        <!-- <a href='https://www.symptoma.es/'>diagnostics online</a> <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=4a879c748524a56a4d56589eea58ebfa2ac378e5'></script>
        <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/1006150/t/5"></script> -->
    </div>
</div>
