<nav>
  <div class="container">
    <div>
      <h1 class="title"><a routerLink="home"><b>Cmentarz w Podrzeczu</b></a></h1>
      <a class="main-link" href="http://cmentarze.online/">cmentarze.online</a>
    </div>
    <ul>
      <li><a routerLink="mapa" routerLinkActive="active-route">Mapa</a></li>
      <li><a routerLink="statystyki" routerLinkActive="active-route">Statystyki</a></li>
      <li><a routerLink="lista" routerLinkActive="active-route">Lista zmarłych</a></li>
      <li><a routerLink="galeria" routerLinkActive="active-route">Galeria</a></li>
      <li><a routerLink="informacje" routerLinkActive="active-route">Informacje</a></li>
      <li><a routerLink="kontakt" routerLinkActive="active-route">Kontakt</a></li>
    </ul>
    <div class="hamburger-menu-button">
      <div class="horizontal-bar"></div>
      <div class="horizontal-bar"></div>
      <div class="horizontal-bar"></div>
    </div>
  </div>
</nav>
<div id="navbar-photo">
<!-- <img src="assets/img/home-wide-lower.jpg" width=100%  height=400px object-fit=""> -->
</div>
