<div class="container">
  <br>
<!-- in nutshell -->
<h5 style="text-align:center">Jeśli nie życzysz sobie aby dane o Twoich bliskich zmarłych znajdowały się na stronie, <br>
  skontaktuj się z administatorem strony (email w zakładce 'Kontakt')</h5>
Baza danych wyszukiwarki osób pochowanych i grobów jest aktualizowana na bieżąco przez administratora.
<br>
Treści zawarte w wyszukiwarce są zgodne z treścią Ustawy z dnia 29 sierpnia 1997 r. o ochronie danych osobowych. 
<br><br><br>
<!-- rodo i prawo -->
<h5 style="text-align:center">Stanowisko Generalnego Inspektora Ochrony Danych Osobowych w sprawie danych osób zmarłych:</h5>

  Ustawa o ochronie danych osobowych określa zasady postępowania przy przetwarzaniu danych osobowych oraz prawa osób fizycznych, których dane osobowe są lub mogą być przetwarzane w zbiorach danych (art. 2 ust. 1 ustawy). <br>
  Ustawę stosuje się zatem tylko do danych osobowych osób fizycznych. Zgodnie z powszechnie obowiązującą wykładnią osobą fizyczną jest człowiek uczestniczący w stosunkach prawnych.<br>
  Zdolność prawna człowieka, a tym samym zdolność do bycia podmiotem praw i obowiązków ustaje z chwilą jego śmierci.
  Osoba zmarła nie może być podmiotem praw i obowiązków w stosunkach prawnych i nie może być uznana za osobę fizyczną. <br>
  <br>
  Sama ustawa o ochronie danych osobowych, wśród przesłanek dopuszczalności przetwarzania danych wymienia zgodę osoby, której dane dotyczą, 
  a także mowi m. in. o sprostowaniu, dostępie do danych, czy możliwości sprzeciwu wobec przetwarzania swoich danych. 
  Skorzystać z tego rodzaju uprawnień może jedynie osoba żyjąca, której dane dotyczą. 
  <br>
  W związku z powyższym ustawa o ochronie danych osobowych ma zastosowanie tylko do przetwarzania danych osobowych osób żyjących, 
  a odmowę udzielania informacji na temat osób zmarłych z powołaniem się na ustawę o ochronie danych osobowych należy uznać za nieuzasadnioną. 
  <br>
  W przypadku wykorzystania danych osób zmarłych (np. przesyłania ulotek reklamowych adresowanych do nieżyjącej osoby), osobom bliskim, których dobra osobiste, 
  tj. na przykład kult pamięci o osobie zmarłej, zostały naruszone przysługuje prawo wystąpienia z powództwem cywilnym do sądu powszechnego. <br>
  <a href="https://archiwum.giodo.gov.pl/319/id_art/974/j/pl">Żródło</a> <br><br><br>


<h5 style="text-align:center">Aktualne ustawy i rozporządzenia dotyczące cmentarzy</h5>
<a href="http://prawo.sejm.gov.pl/isap.nsf/ByKeyword.xsp?key=cmentarze">http://prawo.sejm.gov.pl/isap.nsf/ByKeyword.xsp?key=cmentarze</a> 



<!-- cookies -->
<br><br><br>
<h5 style="text-align:center">Polityka Cookies</h5>
<p>Poniższa Polityka Cookies określa zasady zapisywania i uzyskiwania dostępu do danych na Urządzeniach Użytkowników korzystających z Serwisu do celów świadczenia usług drogą elektroniczną przez Administratora Serwisu.</p>

<h6 style="text-align:center">§ 1 Definicje</h6>
<ul>
	<li><p><strong>Serwis</strong> - serwis internetowy działający pod adresem <span id="serwis"><span class="colored"></span></span></p></li>
    <li><p><strong>Serwis zewnętrzny</strong> - serwis internetowe partnerów, usługodawców lub usługobiorców Administratora</p></li>
    <li><p><strong>Administrator</strong> - firma <span id="firma"><span class="colored"></span>, prowadząca działalność pod adresem: <span class="colored"></span>, o nadanym numerze identyfikacji podatkowej (NIP): <span class="colored"></span></span>, świadcząca usługi drogą elektroniczną za pośrednictwem Serwisu oraz przechowująca i uzyskująca dostęp do informacji w urządzeniach Użytkownika</p></li>
    <li><p><strong>Użytkownik</strong> - osba fizyczna, dla której Administrator świadczy usługi drogą elektroniczna za pośrednictwem Serwisu.</p></li>
    <li><p><strong>Urządzenie</strong> - elektroniczne urządzenie wraz z oprogramowaniem, za pośrednictwem, którego Użytkownik uzyskuje dostęp do Serwisu</p></li>
    <li><p><strong>Cookies (ciasteczka)</strong> - dane tekstowe gromadzone w formie plików zamieszczanych na Urządzeniu Użytkownika</p></li>
</ul>
<h6 style="text-align:center">§ 2 Rodzaje Cookies</h6>
<ul>
	<li><p><strong>Cookies wewnętrzne</strong> - pliki zamieszczane i odczytywane z Urządzenia Użytkownika przes system teleinformatyczny Serwisu</p></li>
    <li><p><strong>Cookies zewnętrzne</strong> - pliki zamieszczane i odczytywane z Urządzenia Użytkownika przez systemy teleinformatyczne Serwisów zewnętrznych</p></li>
    <li><p><strong>Cookies sesyjne</strong> - pliki zamieszczane i odczytywane z Urządzenia Użytkownika przez Serwis <span id="sz1" style="display: none;">lub Serwisy zewnętrzne</span> podczas jednej sesji danego Urządzenia. Po zakończeniu sesji pliki są usuwane z Urządzenia Użytkownika.</p></li>
    <li><p><strong>Cookies trwałe</strong> - pliki zamieszczane i odczytywane z Urządzenia Użytkownika przez Serwis <span id="sz2" style="display: none;">lub Serwisy zewnętrzne</span> do momentu ich ręcznego usunięcia. Pliki nie są usuwane automatycznie po zakończeniu sesji Urządzenia chyba że konfiguracja Urządzenia Użytkownika jest ustawiona na tryb usuwanie plików Cookie po zakończeniu sesji Urządzenia.</p></li>
</ul>

<h6 style="text-align:center">§ 3 Bezpieczeństwo</h6>
<ul>
	<li><p><strong>Mechanizmy składowania i odczytu</strong> - Mechanizmy składowania i odczytu Cookies nie pozwalają na pobierania jakichkolwiek danych osobowych ani żadnych informacji poufnych z Urządzenia Użytkownika. Przeniesienie na Urządzenie Użytkownika wirusów, koni trojańskich oraz innych robaków jest praktynie niemożliwe.</p></li>
    <li><p><strong>Cookie wewnętrzne</strong> - zastosowane przez Administratora Cookie wewnętrzne są bezpieczne dla Urządzeń Użytkowników</p></li>
    <li><p><strong>Cookie zewnętrzne</strong> - za bezpieczeństwo plików Cookie pochodzących od partnerów Serwisu Administrator nie ponosi odpowiedzialności. Lista partnerów zamieszczona jest w dalszej części Polityki Cookie.</p></li>
</ul>

<h6 style="text-align:center">§ 4 Cele do których wykorzystywane są pliki Cookie</h6>
<ul id="cele"></ul>
<h6 style="text-align:center">§ 5 Serwisy zewnętrzne</h6>
<p id="zewinfo"><span class="colored">Administrator nie współpracuje z serwisami zewnętrznymi i Serwis nie umieszcza ani nie korzysta z żadnych plików zewnętrznych plików Cookie.</span></p>
<ul id="zewnetrzne"></ul>
<h6 style="text-align:center">§ 6 Możliwości określania warunków przechowywania i uzyskiwania dostępu na Urządzeniach Użytkownika przez Serwis<span id="sz6" style="display: none;"> i Serwisy zewnętrzne</span></h6>
<ul>
	<li><p>Użytkownik może w dowolnym momencie, samodzielnie zmienić ustawienia dotyczące zapisywania, usuwania oraz dostępu do danych zapisanych plików Cookies</p></li>
    <li><p>Informacje o sposobie wyłączenia plików Cookie w najpopularniejszych przeglądarkach komputerowych i urządzeń mobilnych dostępna są na stronie: <a href="http://jakwylaczyccookie.pl">jak wyłączyć cookie</a>.</p></li>
    <li><p>Użytkownik może w dowolnym momencie usunąć wszelkie zapisane do tej pory pliki Cookie korzystając z narzędzi Urządzenia Użytkownika za pośrednictwem którego Użytkowanik korzysta z usług Serwisu.</p></li>
</ul>
<h6 style="text-align:center">§ 7 Wymagania Serwisu</h6>
<ul>
	<li><p>Ograniczenie zapisu i dostępu do plików Cookie na Urządzeniu Użytkownika może spowodować nieprawidłowe działanie niektórych funkcji Serwisu.</p></li>
    <li><p>Administrator nie ponosi żadnej odpowiedzialności za nieprawidłowo działające funkcje Serwisu w przypadku gdy Użytkownik ograniczy w jakikolwiek sposób możliwość zapisywania i odczytu plików Cookie.</p></li>
</ul>
<h6 style="text-align:center">§ 8 Zmiany w Polityce Cookie</h6>
<ul>
	<li><p>Administrator zastrzega sobie prawo do dowolnej zmiany niniejszej Polityki Cookie bez konieczności informowania o tym użytkowników.</p></li>
    <li><p>Wprowadzone zmiany w Polityce Cookie zawsze będą publikowane na tej stronie.</p></li>
    <li><p>Wprowadzone zmiany wchodzą w życie w dniu publikacji Polityki Cookie.</p></li>
</ul>
</div>
<br>

