#stats-flex-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#general-stats-box {
  display: flex;
  justify-content: space-evenly;
  animation-duration: 1s;
  animation-name: fade-in;
}

#charts-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats-item-box {
  padding: 10px;
  text-align: center;
  animation-duration: 1s;
  animation-name: fade-in;
}

.title {
  margin-top: 1em;
}

.no-data-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  #general-stats-box {
    flex-direction: column;
  }
}