#stats-flex-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

#general-stats-box {
  display: flex;
  justify-content: space-evenly;
  animation-duration: 1s;
  animation-name: fade-in;
}

#charts-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats-item-box {
  padding: 10px;
  text-align: center;
  background-color: rgba(236, 235, 235, 0.6);
  backdrop-filter: blur(2px);
  animation-duration: 1s;
  animation-name: fade-in;
}

@media (max-width: 800px) {
  #general-stats-box {
    flex-direction: column;
  }
}