<div class='container'>
  <h1 class="title">Statystyki</h1>
  <ng-container *ngIf="dbDate">Stan na dzień: <b>{{dbDate}}</b></ng-container>
  <div id="stats-flex-container" *ngIf="sexesStats; else noData">
    <div id="general-stats-box" class="stats-item-box">
      <app-general-info
        numberOfAllMen={{sexesStats.numberOfAllMen}}
        numberOfAllWomen={{sexesStats.numberOfAllWomen}}
      ></app-general-info>
      <div id="charts-icon">
        <img src="assets/icons/charts.png">
      </div>
    </div>
    <div class="stats-item-box">
      <app-bar-chart
        [chartData]="deathsByYear.numberOfDeaths"
        [barChartLabels]="deathsByYear.years"
        options="chartOptions"
      ></app-bar-chart>
    </div>
    <div class="stats-item-box">
      <app-pie-chart
        numberOfAllMen={{sexesStats.numberOfAllMen}}
        numberOfAllWomen={{sexesStats.numberOfAllWomen}}
      ></app-pie-chart>
    </div>
  </div>
  <ng-template #noData>
    <div class="no-data-container">
      <app-spinner></app-spinner>
    </div>
  </ng-template>
</div>

