<div class="container">
    <br>
    <b>Posortowano alfabetycznie według nazwisk.</b> Stan na dzień 1.10.2019.<br><br>
    <div *ngIf='peopleCount > 0'>

        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th style="background: #343A40; font-family: Calibri" scope="col">Nr</th>
                <th style="background: #343A40; font-family: Calibri" scope="col">Nazwisko i imię</th>
                <th style="background: #343A40; font-family: Calibri" scope="col">Data urodzenia</th>
                <th style="background: #343A40; font-family: Calibri" scope="col">Data śmierci</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let person of people">
                <td style="font-family: Calibri" scope="row">{{ person.id }}</td>
                <th style="font-family: Calibri"><b>{{ person.surname }} {{ person.name }}</b></th>  
                <td style="font-family: Calibri" >{{ person.birthDate }}</td>
                <td style="font-family: Calibri" >{{ person.deathDate }}</td> 
              </tr> 
            </tbody>
        </table>
      </div>
</div>
<br>
