<div class="container">
  <h1 class="title">Informacje</h1>
  <div id='main-info-box'>
    <p>
      <b>
        Jeśli nie życzysz sobie, aby dane o Twoich bliskich zmarłych znajdowały się na stronie, 
        skontaktuj się z administatorem strony (email w zakładce 'Kontakt')
      </b>
      <br>
      Baza danych osób pochowanych i grobów jest aktualizowana na bieżąco przez administratora strony.
    </p>
  </div>
  <br>
  
  <div id="law-info-box">
    <p>
      Treści zawarte w wyszukiwarce są zgodne z treścią Ustawy z dnia 29 sierpnia 1997 r. o ochronie danych osobowych.
    </p>
    <h2>Stanowisko Generalnego Inspektora Ochrony Danych Osobowych w sprawie danych osób zmarłych:</h2>
    <p>
      Ustawa o ochronie danych osobowych określa zasady postępowania przy przetwarzaniu danych osobowych oraz prawa osób fizycznych, których dane osobowe są lub mogą być przetwarzane w zbiorach danych (art. 2 ust. 1 ustawy). <br>
      Ustawę stosuje się zatem tylko do danych osobowych osób fizycznych. Zgodnie z powszechnie obowiązującą wykładnią osobą fizyczną jest człowiek uczestniczący w stosunkach prawnych.<br>
      Zdolność prawna człowieka, a tym samym zdolność do bycia podmiotem praw i obowiązków ustaje z chwilą jego śmierci.
      Osoba zmarła nie może być podmiotem praw i obowiązków w stosunkach prawnych i nie może być uznana za osobę fizyczną. <br>
      <br>
      Sama ustawa o ochronie danych osobowych, wśród przesłanek dopuszczalności przetwarzania danych wymienia zgodę osoby, której dane dotyczą,
      a także mowi m. in. o sprostowaniu, dostępie do danych, czy możliwości sprzeciwu wobec przetwarzania swoich danych.
      Skorzystać z tego rodzaju uprawnień może jedynie osoba żyjąca, której dane dotyczą.
      <br>
      W związku z powyższym ustawa o ochronie danych osobowych ma zastosowanie tylko do przetwarzania danych osobowych osób żyjących,
      a odmowę udzielania informacji na temat osób zmarłych z powołaniem się na ustawę o ochronie danych osobowych należy uznać za nieuzasadnioną.
      <br>
      W przypadku wykorzystania danych osób zmarłych (np. przesyłania ulotek reklamowych adresowanych do nieżyjącej osoby), osobom bliskim, których dobra osobiste,
      tj. na przykład kult pamięci o osobie zmarłej, zostały naruszone przysługuje prawo wystąpienia z powództwem cywilnym do sądu powszechnego. <br>
    </p>      
    <a href="https://archiwum.giodo.gov.pl/319/id_art/974/j/pl">Żródło</a>
    <br>
    Aktualne ustawy i rozporządzenia dotyczące cmentarzy:
    <br>
    <a href="http://prawo.sejm.gov.pl/isap.nsf/ByKeyword.xsp?key=cmentarze">http://prawo.sejm.gov.pl/isap.nsf/ByKeyword.xsp?key=cmentarze</a>
  </div>
</div>