<div class="container">
  <div id="grid-container">
    <mat-card class='card'>
      <img mat-card-image src="assets/img/home-wide.jpg">
      <mat-card-header>
        <div mat-card-avatar id="info-content-header-image"></div>
        <mat-card-title>
          <h1>Witaj na stronie cmentarza w Podrzeczu</h1>
        </mat-card-title>
        <mat-card-subtitle>Cmentarz parafialny parafii NMP Królowej Polski w Świniarsku</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          Wybierając zakładki z górnego paska menu, możesz zobaczyć:
          <ul>
            <li>mapę cmentarza wraz z wyszukiwarką grobów</li>
            <li>spis wszystkich zmarłych spoczywających na cmentarzu</li>
            <li>statystyki dotyczące cmentarza</li>
            <li>galerię zdjęć</li>
            <li>kontakt do zarządcy cmentarza</li>
          </ul>
        </mat-card-content>
    </mat-card>

    <app-anniversary></app-anniversary>

    <mat-card class='card'>
      <a href="http://www.parswiniarsko.seva.pl">
      <mat-card-header>
        <div mat-card-avatar id="church-page-header-image"></div>
        <mat-card-title>
          Strona Parafii w Świniarsku
        </mat-card-title>
        <mat-card-subtitle>Odwiedź stronę parafii NMP Królowej Polski w Świniarsku</mat-card-subtitle>
      </mat-card-header></a>
      <mat-card-content class='contact-content'>
        <br>Odsłon strony:
          <!-- <a href="https://www.freecounterstat.com" title="web counter"><img src="https://counter10.wheredoyoucomefrom.ovh/private/freecounterstat.php?c=3wjx3ttqre7w6737fftka5h26sr9f5a5" border="0" title="web counter" alt="web counter"></a> -->
        </mat-card-content>
      </mat-card>
  
    <mat-card class='card'>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d766.9011264175422!2d20.62772791422521!3d49.60470137245531!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473dfb04a95c7a67%3A0xb7a8c3622b39cfc2!2sCmentarz!5e1!3m2!1spl!2spl!4v1620333059876!5m2!1spl!2spl" width="100%" allowfullscreen="" loading="lazy"></iframe>
    </mat-card>
  </div>
</div>