<div class='container'>
  <h2 mat-dialog-title>
    <div class='title-container'>
      <b>Zmarli w <u>{{year}}</u> roku</b>
    </div>
  </h2>
  <br>

  <mat-dialog-content class="mat-typography">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col"> Imię i nazwisko </th>
          <th scope="col"> Data urodzenia </th>
          <th scope="col"> Data śmierci </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of people" (click)="onRowClick(person.tombId)">
          <td scope="row"><b>{{ person.name }} {{ person.surname }}</b></td>
          <td>{{ person.birthDate }}</td>
          <td>{{ person.deathDate }}</td>
        </tr>
      </tbody>
    </table>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="btn btn-secondary">Zamknij</button>
  </mat-dialog-actions>
</div>
