#main-spinnder-box {
  padding: 10px;
}

.loader {
  border: 0.8rem solid #ffffff; /* Light grey */
  border-top: 0.8rem solid #292d2e; /* Blue */
  border-radius: 50%;
  width: 5.5rem;
  height: 5.5rem;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner-text {
  text-align:center
}
