<div class='container'>
  <br>
  <ng-container *ngIf="sexesStats; else noData">
    <mat-card class='card'>
      <mat-card-content>
        
          <app-general-info
            numberOfAllMen={{sexesStats.numberOfAllMen}}
            numberOfAllWomen={{sexesStats.numberOfAllWomen}}
          ></app-general-info>
          <br><br>
          <app-bar-chart
            [chartData]="deathsByYear.numberOfDeaths"
            [barChartLabels]="deathsByYear.years"
            options="chartOptions">
          ></app-bar-chart>
          <br><br>
          <app-pie-chart
            numberOfAllMen={{sexesStats.numberOfAllMen}}
            numberOfAllWomen={{sexesStats.numberOfAllWomen}}>
          ></app-pie-chart>
  
      </mat-card-content>
    </mat-card>    
  </ng-container>

  <ng-template #noData>
    <app-spinner></app-spinner>
  </ng-template>
  <br><br>
</div>

