<div>
  <h2 mat-dialog-title>
    <div class='title-container'><b>Informacje</b></div>
  </h2>
  <br>

  <mat-dialog-content>
    <div *ngIf='numberOfPeople > 0; else noPeopleInTomb'>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col"> Imię i nazwisko </th>
            <th scope="col"> Data urodzenia </th>
            <th scope="col"> Data śmierci </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of people">
            <td scope="row"><b>{{ person.name }} {{ person.surname }}</b></td>
            <td>{{ person.birthDate }}</td>
            <td>{{ person.deathDate }}</td>
          </tr>
        </tbody>
    </table>

    <ng-container *ngIf="imageObject.length !== 0">
      <ng-image-slider class='pictures' [images]="imageObject" [imageSize]="{width: '30%', height: '10%', space: 4}" #nav></ng-image-slider>
    </ng-container>

    <div *ngIf='lightCandleClicked'>
      <div class='pictures'>
        <img src="https://66.media.tumblr.com/36353c142e4369af32acd81bfac457fc/tumblr_mvmozlfDzP1rhncyso1_400.gifv" alt="Smiley face" height="80" width="142">
      </div>
    </div>
    </div>
    <ng-template #noPeopleInTomb>
      Brak danych do wyświetlenia o tym grobie.<br>
      Możliwe, że nikt w nim nie spoczywa.
    </ng-template>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <div *ngIf='!lightCandleClicked && numberOfPeople > 0'>
      <button mat-button class="btn btn-secondary" (click)='lightCandle()'>Zapal znicz</button>
    </div>
    <button mat-button mat-dialog-close class="btn btn-secondary">Zamknij</button>
  </mat-dialog-actions>
</div>

<!-- The MIT License (MIT)
Copyright © 2022 Julien Bouquillon, revolunet <julien@revolunet.com>

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the “Software”), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. -->