<nav>
  <h1 class="title"><a routerLink="home" href="/"><b>Cmentarz w Podrzeczu</b></a></h1>

  <ul>
    <li><h2><a routerLink="mapa">Mapa</a></h2></li>
    <li><h2><a routerLink="statystyki">Statystyki</a></h2></li>
    <li><h2><a routerLink="lista">Lista zmarłych</a></h2></li>
    <li><h2><a routerLink="galeria">Galeria</a></h2></li>
    <li><h2><a routerLink="informacje">Informacje</a></h2></li>
    <li><h2><a routerLink="kontakt">Kontakt</a></h2></li>
  </ul>

  <div class="hamburger-menu-button">
    <div class="horizontal-bar"></div>
    <div class="horizontal-bar"></div>
    <div class="horizontal-bar"></div>
  </div>
</nav>