<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="home">Cmentarz w Podrzeczu</a>
    <button class="navbar-toggler navbar-dark-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-right">
        <li class="nav-item">
          <a class="nav-link" routerLink="mapa" href="/mapa">Mapa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="lista" href="/lista">Lista zmarłych</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="statystyki" href="/statystyki">Statystyki</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="galeria" href="/galeria">Galeria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="informacje" href="/informacje">Informacje</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="kontakt" href="/contact">Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
