#map-locator-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  padding-top: 15px;
  animation-name: fade-in;
  animation-duration: 1s;
}

#map-container {
  animation-name: fade-in;
  animation-duration: 0.5s;
}

@media (max-width: 800px) {
  #map-locator-grid-container {
    grid-template-columns: 1fr;
  }
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}