<div class="container">
  
  <ng-container *ngIf="allPeople; else noData">
    <h1 class="title">Mapa</h1>
    <div id="map-locator-flex-container">
      <div id='text-info-box'>
          Tutaj znajdziesz mapę cmentarza wraz z możliwością wyszukiwania zmarłych.
          <br>Dane na temat zmarłych można zobaczyć
          <ul>
            <li>klikając na konkretny grób</li>
            <li>wpisjąc imię i nazwisko zmarłego w wyszukiwarkę</li>
          </ul>
      </div>
      <div id="searcher-box">
        <app-searcher [allPeople]=allPeople></app-searcher>
      </div>
    </div>
    <br>
    <ng-container *ngIf="dbDate">Stan na dzień: <b>{{dbDate}}</b></ng-container>
    <div id="map-container">
      <app-map></app-map>
    </div>
  </ng-container>
  <ng-template #noData>
    <div class="no-data-container">
      <app-spinner></app-spinner>
    </div>
  </ng-template>
</div>