#map-locator-flex-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  gap: 5em;
  animation-name: fade-in;
  animation-duration: 1s;
}

#text-info-box {
  margin-top: 1em;
  text-align: justify;
}

#map-container {
  margin-top: 1em;
  animation-name: fade-in;
  animation-duration: 0.5s;
}

#searcher-box {
  min-width: 50%;
}

.title {
  margin-top: 1em;
}

.no-data-container {
  padding-top: 1em;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 40vh;
}

@media (max-width: 800px) {
  #map-locator-flex-container {
    flex-direction: column;
  }
}
