<div class="container">
  <ng-container *ngIf="allPeople; else noData">
    <div id="map-locator-grid-container">
      <mat-card class='card'>
        <mat-card-content>
          <h3>
            Tutaj znajdziesz mapę cmentarza wraz z możliwością wyszukiwania zmarłych.
            Dane na temat zmarłych można zobaczyć na mapie, klikając na konkretny grób
            lub wpisjąc imię i nazwisko zmarłego w wyszukiwarkę.<br><br>
          </h3>
        </mat-card-content>
      </mat-card>

      <app-searcher [allPeople]=allPeople></app-searcher>
    </div>
    <br>
    <ng-container *ngIf="dbDate">Stan na dzień: <b>{{dbDate}}</b></ng-container>
    <div id="map-container">
      <app-map></app-map>
    </div>
  </ng-container>
  <ng-template #noData>
    <app-spinner></app-spinner>
  </ng-template>
</div>