.grid-container {
  border: 3px solid;
  background-color: #3b814a;
}

.tomb
{
  fill: #5f5353;
  stroke: black;
  stroke-width: 0.08;
}

.tomb:hover
{
  fill: #cc511c;
  enable-background: false;
  display: block;
}

.road
{
  fill:  #b2b3a5;
}

.fence
{
  fill:  #000000;
}

.parking
{
  fill:  #50574f;
}
