<mat-card class='card'>
  <mat-card-content>
    <h2>Wyszukaj grób: </h2>
    <form class="search-form">
      <mat-form-field class="search-full-width">
        <input type="text" placeholder="Wpisz imię i nazwisko zmarłego i kliknij Szukaj" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto"  (keydown)="handleSearchEvent($event)">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getChosenPerson($event.option.value)'>
          <mat-option *ngFor="let person of filteredPeopleSearchOptions | async" [value]="person">
            {{person}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <br>
    <button mat-button class="btn btn-primary" (click)="getTombInfo()">Szukaj</button>
  </mat-card-content>
</mat-card>


