#searcher-grid-container {
  display: grid;
  grid-template-columns: 65% 35%;
  align-content: center;
}

#search-icon {
  text-align: center;
  align-content: center;
}

#search-field {
  width: 100%;
}

.container {
  background-color: rgba(236, 235, 235, 0.9);
  backdrop-filter: blur(2px);
}