#searcher-grid-container {
  display: grid;
  grid-template-columns: 65% 35%;
  align-content: center;
  gap: 15px;
  padding: 10px;
}

#search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-field {
  width: 100%;
}

.container {
  background-color: rgba(236, 235, 235, 0.6);
  backdrop-filter: blur(2px);
}