<div class="container">
  <div id="searcher-grid-container">
    <div>
      Wyszukaj zmarłego:
      <form [formGroup]="searchField">
        <mat-form-field id="search-field">
          <input type="string" placeholder="Wpisz imię i nazwisko zmarłego" matInput formControlName="search" [matAutocomplete]="auto" (keydown)="handleSearchEvent($event)">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getChosenPerson($event.option.value)'>
            <mat-option *ngFor="let person of filteredPeopleSearchOptions | async" [value]="person">
              {{person}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
    <div id="search-icon">
      <img src="assets/icons/location-pin.png">
    </div>
    <button mat-button class="btn btn-secondary" (click)="getTombInfo()">Szukaj</button>
  </div>
</div>
