.search-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  display: inline-block;
}

.search-full-width {
  width: 100%;
}

.btn {
  display: inline-block;
  width: 30%;
  background-color: rgb(44, 42, 42);
  color: white
}

.card {
  height:100%;
  background-color: rgba(236, 235, 235, 0.6);
  backdrop-filter: blur(2px);
}