<div class="container">
  
<div class="row no-gutters">  
  <div class="col-md-4">
    <div class="text-element">
      <h4>
        <b><br>Witaj na stronie cmentarza w Podrzeczu</b>
      </h4><br>
      <h5> Cmentarz parafialny parafii NMP Królowej Polski w Świniarsku.<br><br>
      Wybierając zakładki z górnego paska menu, możesz zobaczyć:
      <ul>
        <li>mapę cmentarza wraz z wyszukiwarką grobów</li>
        <li>spis wszystkich zmarłych spoczywających na cmentarzu</li>
        <li>statystyki dotyczące cmentarza</li>
        <li>kontakt do zarządcy cmentarza</li>
      </ul></h5>
    </div>
      
  </div>
  <div class="col-md-6">
    <div class="picture-element">
      <!-- <br><img src="https://sadeczanin.info/sites/default/files/gallery/_DSC0423_0.jpg" class="img-fluid" alt="cmentarz"> -->
      <br><img src="https://i.ibb.co/qxL779q/IMG-20190929-135647.jpg" class="img-fluid" alt="cmentarz">
    </div>
  </div>
  <br><br>
  <div class="col-md-2">
    <div class="info-element">
        <h6><br><font color=green>Zachęcamy do wyrażenia swojej opini na temat strony cmentarza poprzez udział w ankiecie</font><br>
          <a href="https://forms.gle/H5sX9nRLouCM5UX2A" title="web counter"><font color=green><b>-ANKIETA-</b></font></a>
          <br>
        <h5>
          <b><br><br>Linki</b>
        </h5>
        Strona parafii NMP w Świniarsku<br>
          <a href="http://www.parswiniarsko.seva.pl/pl" title="Kościół Parafialny w Świniarsku." 
          target="_blank"><img src="http://img.iap.pl/s/461/201432/Edytor/Image/kontakt.jpg" height="90" width="90"></a>
          <br>
        <br>Licznik odwiedzin:<br>
        <a href="https://www.freecounterstat.com" title="web counter"><img src="https://counter10.wheredoyoucomefrom.ovh/private/freecounterstat.php?c=3wjx3ttqre7w6737fftka5h26sr9f5a5" border="0" title="web counter" alt="web counter"></a>

        
      </h6>
      
    </div>
      
  </div>

</div>
</div>