.picture-element
{
    display: inline-block;
    padding: 40px; 


}

.text-element
{
    padding: 30px;
    font-family: "Calibri";
    color: rgb(32, 42, 53);
    background-color: rgb(255, 255, 255);
    /* text-align: justify; */
    /* border-style: solid;
    border-width: 2px; */
    /* box-shadow: 10px 10px 5px #888; */
}
.h4 {
    font-size: 1.1rem;
}

.info-element
{
    padding: 30px;
    font-family: "Calibri";
    color: rgb(32, 42, 53);
    background-color: rgb(255, 255, 255);
    /* text-align: justify; */
    border-left: 2px solid rgb(189, 172, 172);
    text-align: center;
    
}