<div class="container">

<div class="row">
  <div class="col-lg-4">
    <div class="text-element">
      <h4>
        <b>Witaj na stronie cmentarza w Podrzeczu</b>
      </h4><br>
      <h5> Cmentarz parafialny parafii NMP Królowej Polski w Świniarsku.<br><br>
      Wybierając zakładki z górnego paska menu, możesz zobaczyć:
      <ul>
        <li>mapę cmentarza wraz z wyszukiwarką grobów</li>
        <li>spis wszystkich zmarłych spoczywających na cmentarzu</li>
        <li>statystyki dotyczące cmentarza</li>
        <li>kontakt do zarządcy cmentarza</li>
      </ul></h5>
    </div>

  </div>
  <br>

    <div class="col-lg-4">

      <div class="picture-element"><img src="assets/img/contact-1.jpg" class="img-fluid" alt="cmentarz"></div>
      <br>
      <div class="picture-element"><img src="assets/img/home-1.jpg" class="img-fluid" alt="cmentarz"></div>

  </div>
  <div class="col-lg-4">
    <div class="info-element">
        <h6>
          <app-anniversary></app-anniversary>
          <br>
      </h6>
    </div>
  </div>


</div>
<br>
<div class='links'>
    <div class='link'>
      <a href="http://www.parswiniarsko.seva.pl/pl" title="Kościół Parafialny w Świniarsku.">
        <!-- <img src="https://img.icons8.com/ios-filled/50/000000/church.png"/><br> -->

          <img src="https://img.icons8.com/color/48/000000/church.png"/><br>

        <b>Strona parafii NMP<br>w Świniarsku<br></b></a>
    </div>

    <div class='link'>
      <img src="https://img.icons8.com/color/48/000000/group.png" title="Liczba wyświetleń strony">
      <br><b>Odsłon strony:</b><br>
      <!-- <a href="https://www.freecounterstat.com" title="web counter"><img src="https://counter10.wheredoyoucomefrom.ovh/private/freecounterstat.php?c=3wjx3ttqre7w6737fftka5h26sr9f5a5" border="0" title="web counter" alt="web counter"></a> -->
    </div>
</div>
<br>
</div>
