

.container {
  padding: 30px;
  font-family: "Calibri";
  color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 2px;
  /* text-align: justify; */
  /* border-style: solid;
  border-width: 2px; */
  /* box-shadow: 10px 10px 5px #888; */
  background-color: rgb(58, 57, 52);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  margin: auto;
  width: 50%;

}
