<div class="container">
        <div class="text-element">
          <h4>
            <b>Dane kontaktowe</b>
          </h4><br>
          <h6> Zarząd Gospodarki Komunalnej w Podegrodziu - zarządca Cmentarza Komunalnego w Podrzeczu
            informuje, że załatwianie spraw formalno-organizacyjnych dot. cmentarza ( w tym dotyczących
            pogrzebów), odbywa się w siedzibie gminnej oczyszczalni ścieków w Podrzeczu, w godzinach 8.00-16:00.
            <br>
            Sprawami zajmuje się Pan <b>Michał Pietrzak</b><br>
            W sprawach nagłych prosimy o kontakt pod numerem telefonu: <b>662 479 950</b><br>

          <br>
          <h6>
            Jeśli masz pomysł na nową funkcjonalność na stronie, znalałeś błąd w danych prezentowanych na stronie
            lub strona nie działa poprawnie skontaktuj się z adminstatorem strony pod adresem mailowym: <b>kamil.leczycki.ns@gmail.com</b>
          </h6>
          </h6>
        </div>

      </div>
      <br>
