<div class="grid-container">
  <svg id="svgMap" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 30">
    
    <!-- strefa 1 -->
    <rect class="tomb" id=101 x="85%" y="3.50%" width="2.42%" height="6.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=102 x="85%" y="10.03%" width="2.42%" height="6.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=103 x="85%" y="16.56%" width="2.42%" height="4.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=104 x="85%" y="21.09%" width="2.42%" height="6.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=105 x="82.36%" y="3.50%" width="2.42%" height="6.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=106 x="82.36%" y="10.03%" width="2.42%" height="6.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=107 x="82.36%" y="16.56%" width="2.42%" height="4.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=108 x="82.36%" y="21.09%" width="2.42%" height="6.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=109 x="77.94%" y="3.50%" width="2.42%" height="4.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=110 x="77.94%" y="8.39%" width="2.42%" height="4.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=111 x="77.94%" y="13.25%" width="2.42%" height="4.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=112 x="77.94%" y="18.14%" width="2.42%" height="4.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=113 x="77.94%" y="23.03%" width="2.42%" height="4.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=114 x="75.27%" y="3.50%" width="2.42%" height="4.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=115 x="75.27%" y="8.39%" width="2.42%" height="4.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=116 x="75.27%" y="13.25%" width="2.42%" height="4.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=117 x="75.27%" y="23.03%" width="2.42%" height="4.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=118 x="70.85%" y="3.50%" width="2.42%" height="4.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=119 x="70.85%" y="8.39%" width="2.42%" height="4.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=120 x="70.85%" y="13.25%" width="2.42%" height="4.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=121 x="70.85%" y="23.03%" width="2.42%" height="4.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=122 x="68.18%" y="3.50%" width="2.42%" height="4.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=123 x="68.18%" y="8.39%" width="2.42%" height="4.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=124 x="68.18%" y="13.25%" width="2.42%" height="4.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=125 x="68.18%" y="18.14%" width="2.42%" height="4.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=126 x="68.18%" y="23.03%" width="2.42%" height="4.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=127 x="63.76%" y="3.00%" width="2.42%" height="4.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=128 x="63.76%" y="7.89%" width="2.42%" height="4.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=129 x="63.76%" y="12.75%" width="2.42%" height="4.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=130 x="63.76%" y="17.44%" width="2.42%" height="4.78%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=131 x="63.76%" y="22.53%" width="2.42%" height="4.78%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=132 x="61.09%" y="3.50%" width="2.42%" height="4.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=133 x="61.09%" y="8.39%" width="2.42%" height="4.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=134 x="61.09%" y="13.25%" width="2.42%" height="4.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=135 x="61.09%" y="18.14%" width="2.42%" height="4.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=136 x="61.09%" y="23.03%" width="2.42%" height="4.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=137 x="56.94%" y="2.68%" width="2.42%" height="3.88%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=138 x="56.94%" y="6.71%" width="2.42%" height="3.88%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=139 x="56.94%" y="10.83%" width="2.42%" height="3.88%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=140 x="56.94%" y="14.97%" width="2.42%" height="3.88%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=141 x="56.94%" y="19.10%" width="2.42%" height="3.88%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=142 x="56.94%" y="23.23%" width="2.42%" height="3.88%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=143 x="54.22%" y="2.38%" width="2.42%" height="6.08%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=144 x="54.22%" y="8.83%" width="2.42%" height="3.78%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=145 x="54.22%" y="12.97%" width="2.42%" height="3.78%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=146 x="54.22%" y="17.10%" width="2.42%" height="3.78%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=147 x="54.22%" y="21.33%" width="2.42%" height="5.68%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
  
    <!-- strefa 2 -->
    <rect class="tomb" id=201 x="85.20%" y="27.86%" width="2.22%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=202 x="82.73%" y="27.86%" width="2.22%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=203 x="80.66%" y="27.86%" width="1.82%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=204 x="78.99%" y="27.86%" width="1.42%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=205 x="77.23%" y="27.86%" width="1.52%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=206 x="75.35%" y="27.86%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=207 x="73.48%" y="27.86%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=208 x="71.61%" y="27.86%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=209 x="69.74%" y="27.86%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=210 x="67.87%" y="27.86%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>  <!-- Michał Krupa -->
    <rect class="tomb" id=211 x="65.80%" y="27.86%" width="1.82%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=212 x="63.73%" y="27.86%" width="1.82%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=213 x="61.70%" y="27.86%" width="1.52%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=214 x="59.83%" y="27.86%" width="1.52%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=215 x="57.95%" y="27.86%" width="1.52%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=216 x="55.88%" y="27.86%" width="1.82%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=217 x="53.91%" y="27.86%" width="1.52%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=218 x="52.32%" y="27.86%" width="1.42%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=219 x="47.13%" y="27.86%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=220 x="45.26%" y="27.86%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=221 x="43.39%" y="27.86%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=222 x="41.52%" y="27.86%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=223 x="39.65%" y="27.86%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=224 x="35.95%" y="27.86%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=225 x="31.95%" y="27.86%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=226 x="30.15%" y="27.86%" width="1.52%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>


    <!-- strefa 3 -->
    <rect class="tomb" id=301 x="85.3%" y="84.29%" width="1.52%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=302 x="81.58%" y="84.29%" width="2.02%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=303 x="79.21%" y="84.29%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=304 x="77.24%" y="84.29%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=305 x="75.27%" y="84.29%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=306 x="64.87%" y="84.29%" width="1.92%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=307 x="62.30%" y="84.29%" width="1.82%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=308 x="59.83%" y="84.29%" width="1.82%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=309 x="57.76%" y="84.29%" width="1.82%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=310 x="55.69%" y="84.29%" width="1.82%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=311 x="53.82%" y="84.29%" width="1.52%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=312 x="51.55%" y="84.29%" width="1.82%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=313 x="85.1%" y="75.76%" width="1.82%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=314 x="81.70%" y="75.76%" width="2.02%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=315 x="79.28%" y="75.76%" width="2.02%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=316 x="76.96%" y="75.76%" width="2.02%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=317 x="74.64%" y="75.76%" width="2.02%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=318 x="72.32%" y="75.76%" width="2.02%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=319 x="68.30%" y="75.76%" width="2.02%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=320 x="64.27%" y="75.76%" width="1.52%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=321 x="62.20%" y="75.76%" width="1.52%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=322 x="60.33%" y="75.76%" width="1.52%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=323 x="58.56%" y="75.76%" width="1.52%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=324 x="55.99%" y="75.76%" width="1.92%" height="8.08%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=325 x="53.82%" y="75.76%" width="1.52%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=326 x="51.55%" y="75.76%" width="2.02%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=327 x="84.5%" y="67.23%" width="2.42%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=328 x="82.49%" y="67.23%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>  
    <rect class="tomb" id=329 x="80.22%" y="67.23%" width="2.02%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>    
    <rect class="tomb" id=330 x="77.95%" y="67.23%" width="2.02%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=331 x="76.08%" y="67.23%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=332 x="74.21%" y="67.23%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=333 x="72.34%" y="67.23%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>   
    <rect class="tomb" id=334 x="70.67%" y="67.23%" width="1.32%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>     
    <rect class="tomb" id=335 x="68.50%" y="67.23%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=336 x="64.66%" y="67.23%" width="1.72%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=337 x="61.12%" y="67.23%" width="1.72%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=338 x="59.30%" y="67.23%" width="1.32%" height="7.68%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=339 x="57.83%" y="67.23%" width="1.32%" height="7.68%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=340 x="56.41%" y="67.23%" width="1.32%" height="7.68%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=341 x="54.89%" y="67.23%" width="1.32%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=342 x="52.92%" y="67.23%" width="1.72%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=343 x="51.55%" y="67.23%" width="1.22%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=344 x="84.5%" y="58.70%" width="2.42%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=345 x="83.29%" y="60.70%" width="0.82%" height="3.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=346 x="81.22%" y="58.70%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=347 x="79.35%" y="58.70%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=348 x="77.48%" y="58.70%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=349 x="75.61%" y="58.70%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=350 x="73.34%" y="58.40%" width="2.02%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=351 x="71.07%" y="58.20%" width="2.02%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=352 x="68.80%" y="58.00%" width="2.02%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=353 x="64.86%" y="58.22%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=354 x="63.29%" y="58.22%" width="1.42%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=355 x="61.77%" y="58.22%" width="1.42%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=356 x="60.20%" y="58.22%" width="1.42%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=357 x="58.70%" y="58.22%" width="1.42%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=358 x="56.86%" y="57.70%" width="1.52%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect> 
    <rect class="tomb" id=359 x="55.09%" y="57.70%" width="1.52%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=360 x="53.32%" y="57.70%" width="1.52%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=361 x="51.55%" y="57.70%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=362 x="84.5%" y="50.17%" width="2.42%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=363 x="84.5%" y="44.64%" width="2.42%" height="5.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=364 x="82.89%" y="44.64%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=365 x="81.22%" y="44.64%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=366 x="79.46%" y="49.47%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=367 x="77.89%" y="49.47%" width="1.42%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=368 x="76.22%" y="49.47%" width="1.42%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=369 x="74.25%" y="49.47%" width="1.72%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=370 x="72.34%" y="48.47%" width="1.52%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect> 
    <rect class="tomb" id=371 x="70.57%" y="48.47%" width="1.52%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>     
    <rect class="tomb" id=372 x="68.80%" y="48.47%" width="1.52%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>  
    <rect class="tomb" id=373 x="65.16%" y="48.67%" width="1.52%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=374 x="63.22%" y="48.67%" width="1.72%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=375 x="61.45%" y="47.67%" width="1.52%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=376 x="59.23%" y="46.67%" width="1.82%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=377 x="57.31%" y="46.04%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=378 x="55.39%" y="46.04%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=379 x="53.47%" y="46.04%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=380 x="51.55%" y="46.04%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    
    <!-- strefa 4 -->
    <rect class="tomb" id=401 x="47.13%" y="84.29%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=402 x="45.26%" y="84.29%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=403 x="43.39%" y="84.29%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=404 x="41.52%" y="84.29%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=405 x="39.65%" y="84.29%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=406 x="37.78%" y="84.29%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=407 x="36.11%" y="84.29%" width="1.42%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=408 x="34.24%" y="84.29%" width="1.42%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=409 x="32.47%" y="84.29%" width="1.42%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=410 x="30.20%" y="84.29%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=411 x="28.53%" y="84.29%" width="1.42%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=412 x="47.13%" y="75.76%" width="1.62%" height="7.68%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=413 x="45.26%" y="75.76%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=414 x="43.54%" y="75.76%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=415 x="41.90%" y="75.76%" width="1.42%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=416 x="40.14%" y="75.76%" width="1.52%" height="7.88%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=417 x="38.64%" y="75.76%" width="1.22%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=418 x="37.12%" y="75.76%" width="1.22%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=419 x="35.65%" y="75.76%" width="1.22%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=420 x="34.25%" y="75.76%" width="1.22%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=421 x="32.83%" y="75.76%" width="1.22%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=422 x="28.53%" y="75.76%" width="1.52%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=423 x="47.11%" y="67.03%" width="1.32%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=424 x="45.49%" y="67.03%" width="1.32%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=425 x="43.97%" y="67.03%" width="1.22%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=426 x="42.55%" y="67.03%" width="1.22%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=427 x="41.03%" y="67.03%" width="1.22%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=428 x="39.71%" y="67.03%" width="1.22%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=429 x="38.17%" y="67.03%" width="1.32%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=430 x="36.73%" y="67.03%" width="1.22%" height="7.58%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=431 x="35.31%" y="67.03%" width="1.32%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=432 x="33.74%" y="67.03%" width="1.52%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=433 x="31.97%" y="67.03%" width="1.52%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>   
    <rect class="tomb" id=434 x="30.20%" y="67.03%" width="1.52%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=435 x="47.31%" y="57.73%" width="1.42%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=436 x="45.39%" y="57.73%" width="1.42%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=437 x="43.67%" y="57.73%" width="1.42%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=438 x="42.05%" y="57.73%" width="1.52%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=439 x="40.33%" y="57.73%" width="1.52%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=440 x="38.69%" y="57.73%" width="1.52%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=441 x="37.02%" y="57.73%" width="1.32%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=442 x="35.60%" y="57.73%" width="1.32%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=443 x="34.16%" y="57.73%" width="1.32%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=444 x="32.72%" y="57.73%" width="1.32%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=445 x="31.10%" y="57.73%" width="1.32%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=446 x="29.70%" y="57.73%" width="1.32%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=447 x="28.32%" y="57.73%" width="1.32%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=448 x="47.91%" y="52.70%" width="0.82%" height="3.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>   
    <rect class="tomb" id=449 x="46.72%" y="52.50%" width="0.82%" height="3.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>

    <!-- strefa 5 -->
    <rect class="tomb" id=501 x="23.98%" y="84.29%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=502 x="22.11%" y="84.29%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=503 x="20.44%" y="84.29%" width="1.42%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=504 x="18.67%" y="84.29%" width="1.52%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=505 x="16.90%" y="84.29%" width="1.52%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=506 x="15.13%" y="84.29%" width="1.52%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=507 x="23.98%" y="75.76%" width="1.62%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=508 x="22.45%" y="75.76%" width="1.22%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=509 x="21.04%" y="75.76%" width="1.22%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=510 x="19.71%" y="75.76%" width="1.22%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=511 x="24.31%" y="67.26%" width="1.22%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=512 x="22.84%" y="67.26%" width="1.22%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    <rect class="tomb" id=513 x="21.43%" y="67.26%" width="1.22%" height="8.28%" (click)='getTombInfo($event)' data-toggle="modal" data-target="#exampleModal"></rect>
    
    <!-- Krzyż -->
    <rect x="69.90%" y="85.29%" width="2.72%" height="2.28%"></rect>
    <rect x="70.85%" y="83.80%" width="0.8%" height="7.6%"  ></rect>

    <!-- alejka pionowa 1 - chodnik -->
    <rect class="road" x="49%" y="37.09%" width="2.30%" height="60%" title="Abc 5"></rect>
    
    <!-- alejka pionowa 2 - chodnik -->
    <rect class="road" x="25.85%" y="37.09%" width="2.30%" height="60%" title="Abc 5"></rect>
  
    <!-- alejka pozioma 1 - chodnik -->
    <rect class="road" x="0%" y="92.82%" width="88%" height="14%" title="Abc 5"></rect>   

    <!-- alejka pozioma 2 - chodnik -->
    <rect class="road" x="0%" y="36.39%" width="88%" height="8%" title="Abc 5"></rect>
    
    <!-- alejka przy płocie -->
    <rect class="road" x="87.60%" y="1%" width="2.30%" height="100%" title="Abc 5"></rect>

    <!-- płot -->
    <rect class="fence" x="90.40%" y="0%" width="0.80%" height="100%" title="Abc 5"></rect>

    <!-- parking -->
    <rect class="parking" x="91.5%" y="15%" width="8.30%" height="100%" title="Abc 5"></rect>

    <!-- brama -->
    <rect x="90.40%" y="90%" width="0.80%" height="100%" fill="#C2C9CB"></rect>
    <text x="92.5%" y="96.85%" font-family="Calibri" font-size="1.5" fill="black"><- Wejście</text>
    
    <!-- kontener na śmieci -->
    <rect x="91.75%" y="15.5%" width="2.32%" height="11.28%" fill="#437DBB"></rect>

    <!-- toitoi -->
    <rect x="94.32%" y="6.40%" width="1.42%" height="5.28%" fill="#9AB9C3"></rect>

    <!-- schowek -->
    <rect x="91.50%" y="3.50%" width="2.62%" height="8.28%" fill="#3F4B4F"></rect>

    <circle class="progress-ring__circle" stroke="red" stroke-width="0.4" fill="transparent" r="1.5" [attr.cx]="x" [attr.cy]="y"/>
  </svg>
</div>

<template class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <app-details></app-details>
</template>



